<p id="notice"><%= notice %></p>

<h1>Contacts</h1>

<div class="form-group mb-4">
  <%= form_tag contacts_path, method: :get do %>
    <%= label_tag "fullname", "Nome" %>
    <%= text_field_tag :fullname, params[:fullname], class: "form-control", placeholder: "Insira o nome (ou parte) aqui" %>
  <% end %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome completo</th>
      <th>Email</th>
      <th>CPF</th>
      <th>Data de nascimento</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each_with_index do |contact, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= contact.fullname %></td>
        <td><%= contact.email %></td>
        <td><%= format_tax_id(contact.tax_id) %></td>
        <td><%= contact.birthdate_br %></td>
        <td><%= link_to 'Show', contact %></td>
        <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
        <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%== pagy_bootstrap_nav(@pagy) %>
